<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.corn.springcloud.resourceservice.org.mapper.OrgPrivilegeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.corn.springcloud.resourceservice.org.entity.OrgPrivilege">
        <id column="id" property="id" />
        <result column="org_id" property="orgId" />
        <result column="target_org_id" property="targetOrgId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, org_id, target_org_id
    </sql>

</mapper>
